body {
  width: 300px;
  height: 230px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}
form {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 10px;
  text-align: left;
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}
h3 {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  color: #666;
  font-weight: bold;
}
input[type="text"] {
  width: 135px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
select {
  width: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
input[type="color"] {
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
}
.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: calc(50% - 5px);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#resetButton {
  background-color: #516273;
}
#resetButton:hover {
  background-color: #374655;
}
#highlightButton {
  background-color: #0080ff;
}
#highlightButton:hover {
  background-color: #0059b3;
}
